<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{namePage}}</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css"
    />
    <link rel="stylesheet" href="/css/styleLogin.css">
    <link rel="shortcut icon" href="/icon/bread-vector.svg" type="image/x-icon">
</head>
<body>
    {{#if success_msg}}
    <div class="div-alert div-alert-sucess">{{success_msg}}</div>
    {{/if}}
    {{#if error_msg}}
    <div class="div-alert">{{error_msg}}</div>
    {{/if}}
    <button class="back-button"><a href="/"><i class="bi bi-arrow-left-short"></i></a></button>
    {{{body}}}
</body>